/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#90AEC6;
  border-color:tan;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color:#90AEC6;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  max-height:350px;
  object-fit: cover;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
h2{ font-family: sans-serif;}
